.resume {
  width: 80%;
  margin: 20px auto;
  overflow: auto;
  max-width: 960px;

  section {
    float: left;
    width: 100%;

    &.experience,
    &.education {
      .position,
      .degree {
        margin: 10px auto;

        .company,
        .university{
          font-weight: bold;
        }

        .title,
        .awarded {
          font-style: italic;
        }

        ul.details {
          &>li {
            margin: 5px auto;
          }
        }
      }
    }
  }
}